<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/client/app.bundle.js" defer></script>
  <title><%= title %></title>
</head>
<body>
  <%- include('header', {isLoggedIn: isLoggedIn}); %>
  <main class="messages">
    <% if (!isLoggedIn) { %>
      <p>Want to create your own message?</p>
      <div>
        <a href="/login">Login</a> or <a href="/register">Register</a>
      </div>
    <% } else { %>
      <% if (!isMember) { %>
        <h1><%= user === undefined ? '' : user.first_name + '\'s' %> Account</h1>
        <p>Nothing to see here. You must be a member to create messages</p>
        <a href="/membership">Upgrade membership</a>
        <a href="/logout">Logout</a>
      <% } else { %>
        <h1><%= user === undefined ? '' : user.first_name + '\'s' %> Account</h1>
        <a href="/membership">Upgrade membership</a>
        <a href="/logout">Logout</a>
      <% } %>
      <h2>Your Messages</h2>
      <% if (messages !== undefined) { %>
        <ul class="messages__items">
          <% for (let message of messages) { %>
            <%- include('message-list-item', {message: message}); %>
          <% } %>
        </ul>
      <% } else { %>
        <p>You haven't created any messages.</p>
        <button class="messages__create-btn">Create message</button>
      <% } %>
    <% } %>
  </main>
  <%- include('footer'); %>
</body>
</html>