<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/client/app.bundle.js" defer></script>
  </head>
  <body>
    <main>
      <%- include('header', {isLoggedIn: isLoggedIn}); %>
      <h1><%= title %></h1>
      
      <% if (messages) { %>
        <div class="all-messages">
          <h2>Messages</h2>
          <ul class="all-messages__items">
            <% for (let message of messages) { %>
              <%- include('message-list-item', {message: message}); %>
            <% } %>
          </ul>
        </div>
      <% } else { %>
        <p>No messages. Be the first.</p>
      <% } %>
      <% if (isMember) { %>
        <button class="messages__create-btn">Create message</button>
      <% } %>
    </main>
    <%- include('footer'); %>
  </body>
</html>
