<div class="messages__item form-popup">
  <h3 class="messages__form-heading"><%= form %> message</h3>
  <form class="messages__form" action="messages/<%= form %>" method="POST">
    <div class="messages__field">
      <label class="messages__label" for="title">Title: </label>
      <input class="messages__input" name="title" type="text" value="<%= message === undefined ? '' : message.title %>" required />
    </div>
    <div class="messages__field">
      <label class="messages__label" for="text">Message: </label>
      <textarea class="messages__input" name="text" type="text" required><%= message === undefined ? '' : message.text %></textarea>
      <span class="messages__char-count">0 / 500 Characters</span>
    </div>
    <input type="hidden" name="id" value="<%= message === undefined ? '' : message.id %>" />
    <div class="messages__buttons">
      <button type="submit" class="messages__submit-btn"><%= form %></button>
      <button type="button" class="messages__cancel-btn">cancel</button>
    </div>
  </form>
  <% if (errors) { %>
    <ul class="error-items">
      <% for (let error of errors) { %>
        <li class="error-item"><%= error.msg %></li>
      <% } %>
    </ul>
  <% } %>
  </div>
