<div class="message">
  <h2 class="message__form-heading"><%= form %> message</h2>
  <form class="message__form" action="messages/<%= form %>" method="POST">
    <div class="message__field">
      <label class="message__label" for="title">Title: </label>
      <input class="message__input" name="title" type="text" value="<%= message === undefined ? '' : message.title %>" required />
    </div>
    <div class="message__field">
      <label class="message__label" for="text">Message: </label>
      <textarea class="message__input" name="text" type="text" required><%= message === undefined ? '' : message.text %></textarea>
    </div>
    <input type="hidden" name="id" value="<%= message === undefined ? '' : message.id %>" />
    <button type="submit" class="message__submit-button"><%= form %></button>
    <button type="button" class="message__cancel-button">cancel</button>
  </form>
  <% if (errors) { %>
    <ul class="error-items">
      <% for (let error of errors) { %>
        <li class="error-item"><%= error.msg %></li>
      <% } %>
    </ul>
  <% } %>
  </div>
