<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= title %></title>
</head>
<body>
  <%- include('header', {isLoggedIn: false}); %>
  <main>
    <h1>Welcome <%= user.first_name %>!</h1>
    <p class="form-instructions">Become a member by entering the secret passcode below.</p>
    <form class="form membership messages__item" action="" method="POST">
      <div class="form__field">
        <label class="form__label" for="passcode">Passcode: </label>
        <input class="form__input" name="passcode" placeholder="passcode" type="text" required />
      </div>
      <div class="form__field checkbox">
        <label class="form__label" for="admin">
          <input class="form__input" name="admin" type="checkbox" <%= user === undefined || !user.admin ? '' : 'checked' %> />
          Become an admin? 
        </label>
      </div>
      <div class="form__field">
        <button class="form__btn messages__submit-btn">Upgrade</button>
        <a class="form__btn messages__cancel-btn" href="/" aria-label="Go to home page" class="form__button">Skip</a>
      </div>
    </form>
    <% if (errors) { %>
      <ul class="error-items messages__item">
        <% for (let error of errors) { %>
          <li class="error-item"><%= error.msg %></li>
        <% } %>
      </ul>
    <% } %>
  </main>
  <%- include('footer'); %>
</body>
</html>
