<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= title %></title>
</head>
<body>
  <%- include('header', {isLoggedIn: false}); %>
  <main>
    <h1>Register</h1>
    <form class="form messages__item" action="" method="POST">
      <div class="form__field">
        <label class="form__label" for="first_name">First Name: </label>
        <input class="form__input" name="first_name" placeholder="first name" type="text" value="<%= user === undefined ? '' : user.first_name %>" required />
      </div>
      <div class="form__field">
        <label class="form__label" for="last_name">Last Name: </label>
        <input class="form__input" name="last_name" placeholder="last name" type="text" value="<%= user === undefined ? '' : user.last_name %>" />
      </div>
      <div class="form__field">
        <label class="form__label" for="email">Email: </label>
        <input class="form__input" name="email" placeholder="email" type="email" value="<%= user === undefined ? '' : user.email %>" required />
      </div>
      <div class="form__field">
        <label class="form__label" for="password">Password: </label>
        <input class="form__input" name="password" type="password" required />
      </div>
      <div class="form__field">
        <label class="form__label" for="confirm_password">Confirm Password: </label>
        <input class="form__input" name="confirm_password" type="password" required />
      </div>
      <div class="form__field">
        <button class="form__btn messages__submit-btn">Register</button>
      </div>
    </form>
    <% if (errors) { %>
      <ul class="error-items messages__item">
        <% for (let error of errors) { %>
          <li class="error-item"><%= error.msg %></li>
        <% } %>
      </ul>
    <% } %>
  </main>
  <%- include('footer'); %>
</body>
</html>
